 /* style.css */

body {
  background-color: lightgray;
  font-family: 'Questrial', sans-serif;
}

h1 {
  text-align: center;
  padding-top: 20px;
}

p {
  text-align: center;
}

svg {
  padding: 20px;
}

button {
  background-color: lightgray; 
  /* border: 2px solid rgb(50, 50, 50); */
  color: lightgray;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border-style: outset;
  border-width: 2px;
  border-color: white;
}

button.revealedInt {
  background-color: #ccc;
  border: solid 1px gray;
}

button.revealedInt.one {
  color: blue;
}

button.revealedInt.two {
  color: rgb(0, 50, 0);
}

button.revealedInt.three {
  color: red;
}

button.revealedInt.four {
  color: purple;
}

button.revealedInt.five {
  color: purple;
}

button.revealedInt.six {
  color: purple;
}

button.revealedInt.seven {
  color: purple;
}

button.revealedInt.eight {
  color: purple;
}

button.revealedEmpty {
  background-color: #ccc;
  color: lightgreen;
  border: solid 1px gray;
}

button.revealedBomb {
  background-color: red;
  color: red;
  border: solid 1px gray;
}

button.flagged {
  background-color: orange;
  color: orange;
  border: solid 1px gray;
}

button.revealedInt:hover {
  background-color: darkgray;
}

button.revealedEmpty:hover {
  background-color: darkgray;
  color: rgb(50, 200, 100);
}

button.revealedBomb:hover {
  background-color: darkred;
  color: darkred;
}

button.flagged:hover {
  background-color: darkorange;
  color: darkorange;
}

button:hover {
  background-color: darkgray;
  color: darkgray;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  width: 300px;
  height: 300px;
  justify-content: space-evenly;
  margin: 10px;
  /* border: 2px solid rgb(50, 50, 50); */
  border-style: inset;
  border-width: 2px;
  border-color: white;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-center {
  margin: 0 auto;
}

#play-button {
  background-color: rgb(50, 50, 50); 
  border-style: outset;
  border-width: 2px;
  border-color: white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 auto 20px;
  width: max-content;
  height: max-content;
  display: block;
}

#game-msg {
  font-weight: bold;
  height: 30px;
}

.game-won-msg {
  color: green;
}

.game-over-msg {
  color: red;
}

#play-button:hover {
  background-color: darkblue;
}

.medium-icon {
  height: 20px;
  width: 20px;
}

.game-info-container {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 20px;
}

#timer-container, #flags-left-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu {
  display: block;
}

#main-frame {
  align-content: center;
}